# Lesson 3: Practice with Pandas

In [12]:
import pandas as pd

<hr/>

Pandas can be a bit frustrating during your first experiences with it. In this lesson, we will practice using Pandas. The more and more you use it, the more distant the memory of life without it will become.

## The data set

The data set comes from [Kleinteich and Gorb, *Sci. Rep.*, **4**, 5355, 2014](https://doi.org/10.1038/srep05225), and was [featured in the New York Times](http://www.nytimes.com/2014/08/25/science/a-frog-thats-a-living-breathing-pac-man.html).  They measured several properties about the tongue strikes of horned frogs.  Let's take a look at the data set, which is in the file `~/Dataset/frog_tongue_adhesion.csv`.

In [13]:
!head -20 Dataset/frog_tongue_adhesion.csv

The first lines all begin with `#` signs, signifying that they are comments and not data. They do give important information, though, such as the meaning of the ID data. The ID refers to which specific frog was tested.

Immediately after the comments, we have a row of comma-separated headers. This row sets the number of columns in this data set and labels the meaning of the columns. So, we see that the first column is the date of the experiment, the second column is the ID of the frog, the third is the trial number, and so on.

After this row, each row represents a single experiment where the frog struck the target. So, these data are already in tidy format. Let's go ahead and load the data into a `DataFrame`.

In [14]:
# Load the data
df = pd.read_csv('Dataset/frog_tongue_adhesion.csv', comment='#')

# Take a look
df.head()

,date,ID,trial number,impact force (mN),impact time (ms),impact force / body weight,adhesive force (mN),time frog pulls on target (ms),adhesive force / body weight,adhesive impulse (N-s),total contact area (mm2),contact area without mucus (mm2),contact area with mucus / contact area without mucus,contact pressure (Pa),adhesive strength (Pa)
0,2013_02_26,I,3,1205,46,1.95,-785,884,1.27,-0.290,387,70,0.82,3117,-2030
1,2013_02_26,I,4,2527,44,4.08,-983,248,1.59,-0.181,101,94,0.07,24923,-9695
2,2013_03_01,I,1,1745,34,2.82,-850,211,1.37,-0.157,83,79,0.05,21020,-10239
3,2013_03_01,I,2,1556,41,2.51,-455,1025,0.74,-0.170,330,158,0.52,4718,-1381
4,2013_03_01,I,3,493,36,0.80,-974,499,1.57,-0.423,245,216,0.12,2012,-3975

## Practice 1: Mastering .loc

Your goal here is to extract certain entries out of the `DataFrame`.

**a)** Extract the impact time of all impacts that had an adhesive strength of magnitude greater than 2000 Pa. *Note*: The data in the `'adhesive strength (Pa)'` column is all negative. This is because the adhesive force is defined to be negative in the measurement. Without changing the data in the data frame, how can you check that the magnitude (the absolute value) is greater than 2000?

**b)** Extract the impact force and adhesive force for all of Frog II's strikes.

**c)** Extract the adhesive force and the time the frog pulls on the target for juvenile frogs (Frogs III and IV). *Hint*: We saw the `&` operator for Boolean indexing across more than one column. The `|` operator signifies OR, and works analogously. For technical reasons that we can discuss if you like, the Python operators `and` and `or` will **not** work for Boolean indexing of data frames. You could also approach this using the `isin()` method of a Pandas `Series`.

In [29]:
df.loc[df['adhesive strength (Pa)'] < -2000, ['impact time (ms)']]

    impact time (ms)
0                 46
1                 44
2                 34
4                 36
7                 46
8                 50
11                48
13                31
14                38
17                60
19                40
23                59
24                33
25                43
27                31
29                42
31                57
33                21
35                29
37                31
38                15
39                42
42               105
44                29
45                16
47                31
49                32
50                30
51                16
52                27
53                30
54                35
55                39
57                34
59                34
60                26
61                20
62                55
65                33
66                74
67                26
68                27
69                33
71                 6
73                31
74                34
75                38
78                33

In [28]:
df.loc[df['ID'] == 'II',['impact force (mN)', 'impact time (ms)']]

    impact force (mN)  impact time (ms)
20               1612                18
21                605                55
22                327                51
23                946                59
24                541                33
25               1539                43
26                529                28
27                628                31
28               1453                72
29                297                42
30                703                33
31                269                57
32                751                39
33                245                21
34               1182                28
35                515                29
36                435                26
37                383                31
38                457                15
39                730                42

## Practice 2: Split-Apply-Combine of the frog data set

You'll now practice your split-apply-combine skills.

**a)** Compute standard deviation of the impact forces for each frog.

**b)** Compute the coefficient of variation of the impact forces *and* adhesive forces for each frog.

**c)** And now, finally.... Compute a `DataFrame` that has the mean, median, standard deviation, and coefficient of variation of the impact forces and adhesive forces for each frog. After you make this `DataFrame`, you might want to explore using the `pd.melt()` function to make it tidy. You can read [the documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html).

## Computing environment

In [37]:
df.groupby(['ID'])['impact force (mN)'].describe()

     count     mean         std    min      25%     50%      75%     max
ID
I     20.0  1530.20  630.207952  473.0  1231.25  1550.5  1904.75  2641.0
II    20.0   707.35  424.573256  245.0   422.00   573.0   799.75  1612.0
III   20.0   550.10  124.273849  324.0   458.75   544.0   615.75   806.0
IV    20.0   419.10  234.864328   22.0   198.00   460.5   599.00   815.0

In [51]:
df[
    [
        'ID',
        'impact time (ms)'
    ]
]

    ID  impact time (ms)
0    I                46
1    I                44
2    I                34
3    I                41
4    I                36
..  ..               ...
75  IV                38
76  IV                39
77  IV                76
78  IV                33
79  IV                36

[80 rows x 2 columns]

In [4]:
%load_ext watermark
%watermark -v -p pandas,jupyterlab

CPython 3.6.8
IPython 7.1.1

pandas 0.24.2
jupyterlab 1.0.2